.banner{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/spotify-c8d18.appspot.com/o/nicky%20Jam.jpg?alt=media&token=3a1c6341-176a-455b-853b-4cd7f58d386f');
    background-position: top center;
    background-size: cover;
    padding: 15% 20% 35% 20%;
}